* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--side: 1rem;
	--column: 80rem;
	--accent: hsl(1, 59%, 50%);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #ccc;
	background: radial-gradient(circle at 50% 0%, hsl(0, 0%, 8%) 0%, hsl(0, 0%, 2%) 100%);
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

::selection {
	background: var(--accent);
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	color: white;
	margin: 0 0 0.5em 0;
	line-height: 1.1;
}

h1 {
	font-size: 3.2rem;
	margin-top: 1em;
}

a {
	color: inherit;
}

input, button {
	font-family: inherit;
	font-size: inherit;
}

.column {
	padding-left: var(--side);
	padding-right: var(--side);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--column);
}

.flex {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 1rem;
}

@media (min-width: 40rem) {
	:root {
		--side: 4rem;
	}
}